<!--footer.html-->
<!-- Footer -->
<footer>
  <div class="container text-center">
    <p class="credits">
      Copyright &copy; micro.pp.ua
    </p>
  </div>
</footer>
<!-- jQuery -->
<script src="client/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="client/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="client/js/jquery.easing.min.js"></script>
<!-- Contact JavaScript -->
<script src="client/js/validate.js"></script>
<!-- Custom Theme JavaScript -->
<script src="client/js/theme.js"></script>
</body>
</html>